<p style="color: green"><%= notice %></p>
<h3>Welcome to Cloududle</h3>

<%= link_to "New user", new_user_path %>

<div id="users">

    <ul>

      <% @users.each do |user| %>
        <li>
          <%= render user %>
        </li>
      <% end %>
    </ul>
</div>

<br>
<p style="color: red"><%= flash[:warning] %></p>
<div>
  <%= form_with url: "/home/new_game", method: :post do |form| %>
    <%= form.label :query, "Whom would you like to play with?" %>
    <%= form.select "user_id", @users.collect {|u| [ u.name, u.id ] }, {prompt: '<Choose player>'} %>
    <%= form.submit "Start New Game" %>
  <% end %>

</div>


