<%= form_with(model: guess, local: false) do |form| %>
  <% if guess.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guess.errors.count, "error") %> prohibited this guess from being saved:</h2>

      <ul>
        <% guess.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :guessed_word, style: "display: block" %>
    <%= form.text_field :guessed_word, :autocomplete => :off %>
  </div>

  <div style="display: none">
    <%= form.label :game_session_id, style: "display: block" %>
    <%= form.text_field :game_session_id %>
  </div>

  <div style="display: none">
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
